<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.unbc.cpsc472.mynextphone"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ca.unbc.cpsc472.mynextphone.QuestionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ca.unbc.cpsc472.mynextphone.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name="ca.unbc.cpsc472.mynextphone.StartupActivity"
            android:label="@string/title_activity_startup" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.unbc.cpsc472.mynextphone.ChangeDefinitionsActivity"
            android:label="@string/title_activity_change_definitions"
            android:parentActivityName="ca.unbc.cpsc472.mynextphone.StartupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.unbc.cpsc472.mynextphone.StartupActivity" />
        </activity>
    </application>

</manifest>
